@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../app/components/styles.css';
@import '../app/pages/styles.css';

/* GENERAL STYLES */
body {
  color: #333;
  background: #fff;
  width: 1227px;
  margin-left: auto;
  margin-right: auto;
}
