@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../app/components/styles.css';
@import '../app/pages/styles.css';

/* GENERAL STYLES */
body {
  background: #fff;
}

main {
  width: 1227px;
  margin-left: auto;
  margin-right: auto;
  @apply text-lg text-gray-500 min-h-screen;

}

.loading {
@apply -mt-[250px]
}
